<section
  id="hero"
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-[#000050] via-purple-900 to-[#000050]"
>
  <div class="container mx-auto px-6">
    <div class="animate-fade-in">
      <p
        class="text-5xl text-left md:text-7xl font-bold text-white mb-6 leading-relaxed mx-auto max-w-3xl"
      >
        Tech Stack
        <span
          class="bg-gradient-to-r from-purple-400 to-pink-400 bg-clip-text text-transparent"
        >
          Tamer
        </span>
      </p>
      <p
        class="text-xl text-left md:text-2xl text-gray-300 mb-8 max-w-3xl mx-auto leading-relaxed"
      >
        From frontend to backend and everything between. Building modern web
        applications and robust REST APIs with cutting-edge technologies.
        Passionate about learning new languages and creating scalable solutions.
      </p>
      <div
        class="flex flex-col sm:flex-row items-start lag:justify-center gap-14 pt-5 max-w-3xl mx-auto text-white"
      >
        <div>
          <button
            class="cursor-pointer bg-gradient-to-r text-2xl from-purple-500 to-pink-500 hover:from-purple-600 hover:to-pink-600 text-white px-8 py-3 rounded-full font-semibold transition-all duration-300 transform hover:scale-105"
            (click)="scrollToSection('projects')"
          >
            View My Work
          </button>
        </div>
        <div class="flex text-5xl space-x-5 items-center justify-center">
          <ng-icon name="bootstrapLinkedin" />
          <ng-icon name="bootstrapGithub" />
          <ng-icon name="bootstrapEnvelopeFill" />
        </div>
      </div>
    </div>
  </div>
</section>
